@charset "utf-8";
/*------------------------------------------------------------
初期設定
------------------------------------------------------------*/
body {
margin: 0 auto;
padding: 0 auto;
font-size: 20px;
font-family:"メイリオ", Meiryo;
}

h1{
margin: 0;
padding: 0;
}

h3{
margin: 0;
padding: 0;
}

ol, ul {
list-style: none;
}

img {
display:block;
border:none;
}

a {
outline: none;
text-decoration: none;
}

a:link {
color: #333;
text-decoration:none;
}
a:visited {
color: #333;
text-decoration:none;
}
a:hover {
color: #FE7A0C;
text-decoration:underline;
}

a:active {
color: #333;
text-decoration:none;
}

.clear {
clear:both;
visibility:hidden;
height:0;
}

/*------------------------------------------------------------
conteinar,wrapper
------------------------------------------------------------*/

#conteinar {
}

#wrapper {
width:1000px;
margin: 0 auto;
}

.re_top {
float:right;
margin:10px 5px 20px 0;
}

.kiyaku {
padding: 10px;
font-size: 60%;
letter-spacing: 0px;
width: 760px;
height: 110px;
overflow: auto;
background-color: #fff;
line-height: 1.64em;
border: 1px solid #539d0a;
margin-top: 20px;
color: gray;
font-family: Meiryo;
}

/*------------------------------------------------------------
共有ヘッダー
------------------------------------------------------------*/

#header {
margin:5px auto 0;
}

#logo {
float:left;
}

#h1 {
font-size:7px;
font-weight:nomal;
float:left;
margin:13px 80px 0 40px;
padding:0;
}

#mini_contact {
float:left;
margin:17px 5px 0 20px;
}

#mini_contact_txt {
font-size:15px;
float:left;
margin:14px 20px 0 0;
}

#mini_sitemap {
float:left;
margin:17px 5px 0 8px;
}

#mini_sitemap_txt {
font-size:15px;
float:left;
margin:14px 5px 0 0;
}

#freedial {
margin:0 10px 0 30px;
float:left;
}
/*
#newaccount {
float:left;
margin:5px 0 0 0;
}
*/
#newaccount {
float:left;
margin:5px 0 0 18px;
}

#logininfo{
font-size:70%;
margin-left:2px;
word-wrap: break-word;
}

#logintable{
border:1px red;
}



#login {
float:left;
margin:5px 0 0 15px;
}

#mypage_btn {
float:left;
margin:5px 0 0 15px;
}

.top_header_title {
    widht:1000px;
    height:100px;
    font-size:30px;
    color: #64c601;
    text-align:center;
    /*text-decoration:underline;*/
    /*border-bottom:3px #64c601 dashed;*/
}



/*------------------------------------------------------------
グローバルナビ G Navi
------------------------------------------------------------*/

#gnavi ul{
width:100%;
margin:0;
padding:0;
}

#gnavi li{
list-style:none;
float:left;
margin:0;
padding:0;
}

/*------------------------------------------------------------
お知らせ news
------------------------------------------------------------*/

.topics_maincont_news {
width:935px;
height:245px;
margin:5px auto 15px;
padding:10px;
overflow:auto;
font-family: "メイリオ", Meiryo;
font-size: 16px;
border:1px solid #ccc;
}

.space_sem{
height:35px;
margin:6px 0 0 0;
}

.space{
height:40px;
margin:6px 0 10px 0;
}

.matter {
width:81px;
background-image: url("../img/ico_matter.png");
background-repeat: no-repeat;
float:left;
padding:18px 0 0 4px;
margin-right:5px;
font-family: "メイリオ", Meiryo;
font-size: 14px;
}

.news {
width:81px;
background-image: url("../img/ico_news.png");
background-repeat: no-repeat;
float:left;
padding:18px 0 0 4px;
margin-right:5px;
font-family: "メイリオ", Meiryo;
font-size: 14px;
}

.sem {
width:81px;
background-image: url("../img/ico_sem.png");
background-repeat: no-repeat;
float:left;
padding:18px 0 0 4px;
margin-right:5px;
font-family: "メイリオ", Meiryo;
font-size: 14px;
}

.sem_e {
width:81px;
background-image: url("../img/ico_sem_e.png");
background-repeat: no-repeat;
float:left;
padding:18px 0 0 4px;
margin-right:5px;
font-family: "メイリオ", Meiryo;
font-size: 14px;
}

.sem_o {
width:81px;
background-image: url("../img/ico_onsem.png");
background-repeat: no-repeat;
float:left;
padding:18px 0 0 4px;
margin-right:5px;
font-family: "メイリオ", Meiryo;
font-size: 14px;
}

.media {
width:81px;
background-image: url("../img/ico_media.png");
background-repeat: no-repeat;
float:left;
padding:18px 0 0 4px;
margin-right:5px;
font-family: "メイリオ", Meiryo;
font-size: 14px;
}

.text {
line-height:22px;
overflow:visible;
}


/*------------------------------------------------------------
自治体案件検索 財団案件検索 search
------------------------------------------------------------*/

.table {
width:935px;
margin:10px auto;
}

.l_Cel_new {
width:250px;
text-align:center;
vertical-align:middle;
padding:10px 0 0px 50px;
}

.l_Cel {
width:250px;
text-align:center;
vertical-align:middle;
padding:20px 0 20px 50px;
}

.l_Cel_2 {
width:680px;
height:70px;
text-align:center;
vertical-align:middle;
padding:0;
}

.r_Cel {
width:500px;
vertical-align:middle;
padding:20px 0 20px 30px;
}

.r_Cel_2 {
width:320px;
vertical-align:middle;
padding:0 0 0 20px;
}

.s_Cel {
padding: 10px;
font-size: 70%;
color: #666;
width: 150px;
vertical-align: middle;
border: 1px solid #539d0a;
}

.s_Cel_01 {
padding: 10px;
font-size: 80%;
color: #666;
/* width: 150px; */
vertical-align: middle;
border: 1px solid #539d0a;
}

.l_Cel_01 {
padding: 10px;
font-size: 80%;
color: #666;
font-weight: bold;
width: 130px;
height: 40px;
color: #666;
background-color: #E6E6FA;
vertical-align: middle;
border: 1px solid #ccc;
}

.l_Cel_01_01 {
padding: 10px;
font-size: 80%;
color: #666;
font-weight: normal;
width: 180px;
height: 40px;
color: #666;
background-color: #E6FFE1;
vertical-align: middle;
border: 1px solid #539d0a;
}

.l_Cel_01_02 {
padding: 10px;
font-size: 80%;
color: #666;
font-weight: normal;
width: 80px;
height: 40px;
color: #666;
background-color: #E6FFE1;
vertical-align: middle;
border: 1px solid #539d0a;
}




#submit_btn {
text-align:left;
margin:30px 0 0 50px;
}


/*------------------------------------------------------------
会社概要 company
------------------------------------------------------------*/

#company {
width:985px;
margin:50px 0 0 10px;
height:360px;
}

#company_left {
width:750px;
float:left;
}

#com_msg {
}

#navit_logo {
float:left;
}

#msg {
padding:10px 15px 0 0;
float:right;
line-height:23px;
font-size:18px;
}

#pre_msg {
}

#pre_photo {
float:left;
}

#pmsg {
padding:10px 10px 0 0;
line-height:27px;
font-size:18px;
float:right;
}

#company_right {
width:220px;
float:right;
padding:10px 0 0 0;
}

/*------------------------------------------------------------
フッター footer
------------------------------------------------------------*/


#footer {
text-align:center;
background-color:#64C601;
/*background-image: url("../img/footer.jpg");*/
/*background-repeat: repeat-x;*/
padding-top:20px;
height:60px;
width:100%;
color:#fff;
font-size:16px;
}

#footer a:link {
color: #fff;
text-decoration:none;
}
#footer a:visited {
color: #fff;
text-decoration:none;
}
#footer a:hover {
color: #FE7A0C;
text-decoration:underline;
}

#footer a:active {
color: #fff;
text-decoration:none;
}



/*------------------------------------------------------------
全選択・解除ボタン
------------------------------------------------------------*/
.AllorClearButton {
    background-color:#0937CD;
    position:relative;
    font-size:12px;
    text-decoration:none !important;
    color:#ffffff !important;
    border-radius: 5px;
}

/*------------------------------------------------------------
select ボックス
------------------------------------------------------------*/
.select_font {
    font-family: "メイリオ", Meiryo, "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", sans-serif, verdana;
    font-size:20px !important;
    background-color:#F5F5F5;
    color:#000000 !important;
    border:1px;
    width:240px;
}

.select_font_s {
    font-family: "メイリオ", Meiryo, "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", sans-serif, verdana;
    font-size:16px !important;
    background-color:#F5F5F5;
    color:#000000 !important;
    border:1px;
    width:240px;
}

/*------------------------------------------------------------
errorメッセージ
------------------------------------------------------------*/
span.error{
    
    color           :#f33;
    padding         :0px;
}
span.error_s{
    
    color           :#f33;
    padding         :0px;
    font-size:12px;
    font-weight:normal;
}

/*------------------------------------------------------------
ボタン
------------------------------------------------------------*/

.button {
	display: inline-block;
	width: 200px;
	height: 46px;
        font-size:18px;
	text-align: center;
	text-decoration:none !important;
	outline: none;
        position: relative;
	z-index: 2;
        border-radius: 5px;
	background-color: #00008B;
        border:2px solid #00008B;
	color: #ffffff !important;
	line-height: 44px;
	overflow: hidden;
}
.button:hover {
	color: #FFD700 !important;
        border:3px solid #FF0000;
}
.button:hover::after {
	top: 0;
	background-color: #0234CD;
        
}
.button::before,
.button::after {
	position: absolute;
	z-index: -1;
	display: block;
	content: '';
        top: -100%;
	width: 100%;
	height: 100%;
}
.button,
.button::before,
.button::after {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-transition: all .5s;
	transition: all .5s;
}

.d_button {
	display: inline-block;
	width: 280px;
	height: 46px;
        font-size:18px;
	text-align: center;
	text-decoration:none !important;
	outline: none;
        position: relative;
	z-index: 2;
        border-radius: 5px;
	background-color: #00008B;
        border:2px solid #00008B;
	color: #ffffff !important;
	line-height: 44px;
	overflow: hidden;
}
.d_button:hover {
	color: #FFD700 !important;
        border:3px solid #FF0000;
}
.d_button:hover::after {
	top: 0;
	background-color: #0234CD;
        
}
.d_button::before,
.d_button::after {
	position: absolute;
	z-index: -1;
	display: block;
	content: '';
        top: -100%;
	width: 100%;
	height: 100%;
}
.d_button,
.d_button::before,
.d_button::after {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-transition: all .5s;
	transition: all .5s;
}



.button2 {
	display: inline-block;
	width: 200px;
	height: 46px;
        font-size:18px;
	text-align: center;
	text-decoration:none !important;
	outline: none;
        position: relative;
	z-index: 2;
        border-radius: 5px;
	background-color: #E00000;
        border:2px solid #E00000;
	color: #ffffff !important;
	line-height: 44px;
	overflow: hidden;
}
.button2:hover {
	color: #FFD700 !important;
        border:3px solid #FF0000;
}
.button2:hover::after {
	top: 0;
	background-color: #FF3434;
}
.button2::before,
.button2::after {
	position: absolute;
	z-index: -1;
	display: block;
	content: '';
        top: -100%;
	width: 100%;
	height: 100%;
}
.button2,
.button2::before,
.button2::after {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-transition: all .5s;
	transition: all .5s;
}

.button3 {
	display: inline-block;
	width: 160px;
	height: 36px;
        font-size:16px;
	text-align: center;
	text-decoration:none !important;
	outline: none;
        position: relative;
	z-index: 2;
        border-radius: 5px;
	background-color: #00008B;
        border:2px solid #00008B;
	color: #ffffff !important;
	line-height: 32px;
	overflow: hidden;
}
.button3:hover {
	color: #FFD700 !important;
        border:3px solid #FF0000;
}
.button3:hover::after {
	top: 0;
	background-color: #0234CD;
        
}
.button3::before,
.button3::after {
	position: absolute;
	z-index: -1;
	display: block;
	content: '';
        top: -100%;
	width: 100%;
	height: 100%;
}
.button3,
.button3::before,
.button3::after {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-transition: all .5s;
	transition: all .5s;
}

.button3_a {
	display: inline-block;
	width: 100px;
	height: 36px;
        font-size:14px;
	text-align: center;
	text-decoration:none !important;
	outline: none;
        position: relative;
	z-index: 2;
        border-radius: 5px;
	background-color: #00008B;
        border:2px solid #00008B;
	color: #ffffff !important;
	line-height: 32px;
	overflow: hidden;
}
.button3_a:hover {
	color: #FFD700 !important;
        border:3px solid #FF0000;
}
.button3_a:hover::after {
	top: 0;
	background-color: #0234CD;
        
}
.button3_a::before,
.button3_a::after {
	position: absolute;
	z-index: -1;
	display: block;
	content: '';
        top: -100%;
	width: 100%;
	height: 100%;
}
.button3_a,
.button3_a::before,
.button3_a::after {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-transition: all .5s;
	transition: all .5s;
}

.button4 {
	display: inline-block;
	width: 120px;
	height: 28px;
        font-size:12px;
	text-align: center;
	text-decoration:none !important;
	outline: none;
        position: relative;
	z-index: 2;
        border-radius: 5px;
	background-color: #00008B;
        border:2px solid #00008B;
	color: #ffffff !important;
	line-height: 22px;
	overflow: hidden;
}
.button4:hover {
	color: #FFD700 !important;
        border:3px solid #FF0000;
}
.button4:hover::after {
	top: 0;
	background-color: #0234CD;
        
}
.button4::before,
.button4::after {
	position: absolute;
	z-index: -1;
	display: block;
	content: '';
        top: -100%;
	width: 100%;
	height: 100%;
}
.button4,
.button4::before,
.button4::after {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-transition: all .5s;
	transition: all .5s;
}

.button5 {
display: inline-block;
width: 450px;
height: 60px;
font-size: 24px;
text-align: center;
text-decoration: none !important;
outline: none;
position: relative;
z-index: 2;
border-radius: 8px;
background-color: #22A90C;
border: 4px solid #0A6E08;
color: #FFFFFF !important;
line-height: 54px;
overflow: hidden;

}
.button5:hover {
	color: #FFD700 !important;
        border:4px solid #FF0000;
}
.button5:hover::after {
	top: 0;
	background-color: #0234CD;
        
}
.button5::before,
.button5::after {
	position: absolute;
	z-index: -1;
	display: block;
	content: '';
        top: -100%;
	width: 100%;
	height: 100%;
}
.button5,
.button5::before,
.button5::after {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-transition: all .5s;
	transition: all .5s;
}

.button5_en {
  display: inline-block;
  width: 100px;
  height: 52px;
  font-size: 24px;
  text-align: center;
  text-decoration: none !important;
  outline: none;
  position: relative;
  z-index: 2;
  border-radius: 8px;
  background-color: #848484;
  border: 4px solid #1f1f1f;
  color: #FFFFFF !important;
  line-height: 54px;

  overflow: hidden;
  margin-left: 10px;
}

.button6 {
display: inline-block;
width: 320px;
height: 60px;
font-size: 18px;
text-align: center;
text-decoration: none !important;
outline: none;
position: relative;
z-index: 2;
border-radius: 8px;
background-color: #96DE4E;
border: 6px solid #63C500;
color: #2D5C01 !important;
line-height: 52px;
overflow: hidden;
}

.button6:hover {
	color: #FF4500 !important;
        border:6px solid #FF7F00;
}
.button6:hover::after {
	top: 0;
	background-color: #FFBB3E;
        
}
.button6::before,
.button6::after {
	position: absolute;
	z-index: -1;
	display: block;
	content: '';
        top: -100%;
	width: 100%;
	height: 100%;
}
.button6,
.button6::before,
.button6::after {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-transition: all .5s;
	transition: all .5s;
}


.button6_ditail {
display: inline-block;
width: 450px;
height: 60px;
font-size: 22px;
font-weight:bold;
text-align: center;
text-decoration: none !important;
outline: none;
position: relative;
z-index: 2;
border-radius: 8px;
background-color: #96DE4E;
border: 6px solid #63C500;
color: #2D5C01 !important;
line-height: 52px;
overflow: hidden;
}

.button6_ditail:hover {
	color: #FF4500 !important;
        border:6px solid #FF7F00;
}
.button6_ditail:hover::after {
	top: 0;
	background-color: #FFBB3E;
        
}
.button6_ditail::before,
.button6_ditail::after {
	position: absolute;
	z-index: -1;
	display: block;
	content: '';
        top: -100%;
	width: 100%;
	height: 100%;
}
.button6_ditail,
.button6_ditail::before,
.button6_ditail::after {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-transition: all .5s;
	transition: all .5s;
}


#logout_btn{
background-color: #0937CD;
position: relative;
font-size: 12px;
text-decoration: none !important;
color: #ffffff !important;
border-radius: 5px;
padding: 3px 50px 0px;
/*padding: 3px 143px 0px;*/
border: 2px solid #0937CD;
}
#logout_btn:hover {
color: #FFD700 !important;
border:2px solid #FF0000;
}

#mypage_btn_on{
background-color: #0937CD;
position: relative;
font-size: 12px;
text-decoration: none !important;
color: #ffffff !important;
border-radius: 5px;
padding: 3px 50px 0px;
border: 2px solid #0937CD;
}
#mypage_btn_on:hover {
color: #FFD700 !important;
border:2px solid #FF0000;
}

.change_btn {
  display: inline-block;
  width: 100px;
  height: 30px;
  font-size: 16px;
  text-align: center;
  text-decoration: none !important;
  outline: none;
  position: relative;
  z-index: 2;
  border-radius: 5px;
  background-color: #E6FFE1;
  border: 2px solid #539d0a;
  color: #000 !important;
  line-height: 30px;
  overflow: hidden;
}

/*------------------------------------------------------------
テキストボックス
------------------------------------------------------------*/
input[type=text]{
    font-family:"メイリオ", Meiryo;
   border-radius: 5px;
   -moz-border-radius: 5px;
   -webkit-border-radius: 5px;
   -o-border-radius: 5px;
   -ms-border-radius: 5px;
   border:#a9a9a9 1px solid;
   -moz-box-shadow: inset 0 0 5px rgba(0,0,0,0.2),0 0 2px rgba(0,0,0,0.3);
   -webkit-box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2),0 0 2px rgba(0,0,0,0.3);
   box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2),0 0 2px rgba(0,0,0,0.3);
   width:500px;
   height:30px;
   padding:0 3px;
}

input[type=text]:focus {
   border:solid 1px #32CD32;
}

input[type=text], select { 
   outline: none;
}

input[type=password]{
    font-family:"メイリオ", Meiryo;
   border-radius: 5px;
   -moz-border-radius: 5px;
   -webkit-border-radius: 5px;
   -o-border-radius: 5px;
   -ms-border-radius: 5px;
   border:#a9a9a9 1px solid;
   -moz-box-shadow: inset 0 0 5px rgba(0,0,0,0.2),0 0 2px rgba(0,0,0,0.3);
   -webkit-box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2),0 0 2px rgba(0,0,0,0.3);
   box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2),0 0 2px rgba(0,0,0,0.3);
   width:500px;
   height:30px;
   padding:0 3px;
}

input[type=password]:focus {
   border:solid 1px #32CD32;
}

input[type=password], select { 
   outline: none;
}

#filter{
position:fixed;
width:100%;
height:100%;
left:0;
top:0;
background:#C2D6CD;
filter:alpha(opacity=80);
-moz-opacity:0.80;
opacity:0.80;
z-index:100;
}

* html #filter { /* ie?p */
position: absolute;
height: expression(document.body.scrollHeight > document.body.offsetHeight ? document.body.scrollHeight : document.body.offsetHeight + 'px');
}


/*
#center_box{
    z-index:110;
    position:relative;
    width:300px;
    height:200px;
    position:absolute;
    left:50%;
    top:50%;
    margin-left:-150px;
    margin-top:-100px;
}
*/

.logininfo {
	display: inline-block;
	width: 160px;
	height: 36px;
        font-size:60% !important;
	text-align: center;
	text-decoration:none !important;
	outline: none;
        position: relative;
	z-index: 2;
        border-radius: 5px;
	background-color: #00008B;
        border:2px solid #00008B;
	color: #ffffff !important;
	line-height: 32px;
	overflow: hidden;
}
/*
#logininfo{
	font-size:60%;
}
#logout_btn{
display: inline-block;
width: 99%;
height: 20px;
font-size: 60% !important;
text-align: center;
text-decoration: none !important;
outline: none;
position: relative;
z-index: 2;
border-radius: 5px;
background-color: #00008B;
border: 2px solid #00008B;
color: #ffffff !important;
line-height: 22px;
overflow: hidden;
}
#logout_btn:hover {
	color: #FFD700 !important;
        border:2px solid #FF0000;
}
*/


.checkbox_img{
    width:20px;
    height:17px;
    display:inline;
    margin-right:5px;
}
#fixedbox{
z-index:110;
background-color: #F6FFF6;

filter:alpha(opacity=70);
-moz-opacity: 0.7;
opacity: 0.7;

position: absolute;
top: 250px;
right: -208px;
width: 680px;
height: 430px;
padding: 20px 20px;
-moz-border-radius: 10px;
-webkit-border-radius: 10px;
-o-border-radius: 10px;
border-radius: 10px;
box-shadow: 8px 8px 3px rgba(0,0,0,0.4);

}

#fixedbox2{
z-index:110;
background-color: #F6FFF6;

filter:alpha(opacity=70);
-moz-opacity: 0.7;
opacity: 0.7;

position: absolute;
top: 1100px;
right: 325px;
width: 680px;
height: 430px;
padding: 20px 20px;
-moz-border-radius: 10px;
-webkit-border-radius: 10px;
-o-border-radius: 10px;
border-radius: 10px;
box-shadow: 8px 8px 3px rgba(0,0,0,0.4);

}

.withdrew_btn {
  display: inline-block;
  width: 100px;
  height: 30px;
  font-size: 12px;
  text-align: center;
  text-decoration: none !important;
  outline: none;
  position: relative;
  z-index: 2;
  border-radius: 5px;
  background-color: #E6FFE1;
  border: 2px solid #539d0a;
  color: #666 !important;
  line-height: 30px;
  overflow: hidden;
}

/*------------------------------------------------------------
リンク色変更
------------------------------------------------------------*/

.request a {
outline: none;
text-decoration: underline;
}

.request a:link {
color: #0000cd;
text-decoration: underline;
}
.request a:visited {
color: #0000cd;
text-decoration: underline;
}
.request a:hover {
color: #0000cd;
text-decoration: underline;
}

.request a:active {
color: #0000cd;
text-decoration: underline;
}


/*------------------------------------------------------------
トップページ有料会員化　20160705
------------------------------------------------------------*/

.h3_title{
	background-color:#50a2a2;
	padding:3px 0 0 15px;
	color:#fff;
	font-size:22px;
	font-weight:bold;
}

.h3_title2{
	background-color:#af5976;
	padding:3px 0 0 15px;
	color:#fff;
	font-size:22px;
	font-weight:bold;
}

.h3_title3{
	background-color:#6aab5d;
	padding:3px 0 0 15px;
	color:#fff;
	font-size:22px;
	font-weight:bold;
}

.favorite_login{
	color:#333;
	font-size:22px;
	font-weight:bold;
}

.hr{
	border:none;
	border-top:solid 1px #ababab;
}

.hr2{
	border:none;
	border-top:dashed 1px #ababab;
}

.favorite_button{
	display: inline-block;
	width: 130px;
	height: 25px;
        font-size:13px;
	font-weight:bold;
	text-align: center;
	text-decoration:none !important;
	outline: none;
	z-index: 2;
	background-color: #ad7a27;
	color: #ffffff !important;
	overflow: hidden;
	margin:0;
	border-style: none;
	border-radius: 3px;
	-webkit-border-radius: 3px;    /* Safari,Google Chrome用 */  
	-moz-border-radius: 3px;   /* Firefox用 */
}

.favorite_button:hover {
	color: #fff !important;
	background-color: #bd9d68;
}

.submit_form{
	text-align:center;
}

.submit_btn{
	display: inline-block;
	width: 275px;
	height: 35px;
        font-size:20px;
	font-weight:bold;
	text-align: center;
	text-decoration:none !important;
	outline: none;
	z-index: 2;
	background-color: #FF6600;
	color: #ffffff !important;
	overflow: hidden;
	margin:0 auto;
	border-style: none;
	border-radius: 3px;
	-webkit-border-radius: 3px;    /* Safari,Google Chrome用 */  
	-moz-border-radius: 3px;   /* Firefox用 */
	text-align:center;
}

.submit_btn:hover {
	color: #fff !important;
	background-color: #666;
}

.submit_btn2{
	display: inline-block;
	width: 275px;
	height: 35px;
        font-size:20px;
	font-weight:bold;
	text-align: center;
	text-decoration:none !important;
	outline: none;
	z-index: 2;
	background-color: #FF6600;
	color: #ffffff !important;
	overflow: hidden;
	margin:30px auto 0 auto;
	border-style: none;
	border-radius: 3px;
	-webkit-border-radius: 3px;    /* Safari,Google Chrome用 */  
	-moz-border-radius: 3px;   /* Firefox用 */
	text-align:center;
}

.submit_btn2:hover {
	color: #fff !important;
	background-color: #666;
}

.submit_btn3{
	display: inline-block;
	width: 230px;
	height: 30px;
        font-size:16px;
	font-weight:bold;
	text-align: center;
	text-decoration:none !important;
	outline: none;
	z-index: 2;
	background-color: #999;
	color: #ffffff !important;
	overflow: hidden;
	margin:5px auto 0 auto;
	border-style: none;
	border-radius: 3px;
	-webkit-border-radius: 3px;    /* Safari,Google Chrome用 */  
	-moz-border-radius: 3px;   /* Firefox用 */
	text-align:center;
}

.submit_btn3:hover {
	color: #fff !important;
	background-color: #666;
}

.submit_btn4{
	display: inline-block;
	width: 275px;
	height: 35px;
        font-size:20px;
	font-weight:bold;
	text-align: center;
	text-decoration:none !important;
	outline: none;
	z-index: 2;
	background-color: #FF6600;
	color: #ffffff !important;
	overflow: hidden;
	margin:0 auto 50px auto;
	border-style: none;
	border-radius: 3px;
	-webkit-border-radius: 3px;    /* Safari,Google Chrome用 */  
	-moz-border-radius: 3px;   /* Firefox用 */
	text-align:center;
}

.submit_btn4:hover {
	color: #fff !important;
	background-color: #666;
}

.reccomented_projects{
	width:100%;
}

.reccomented_projects h2{
	width:390px;
	margin:10px auto;
}

.favorite_autonomy_projects h2{
	width:390px;
	margin:10px auto;
}

.reccomented10_projects h2{
	width:390px;
	margin:10px auto;
}

.reccomented_projects h3{

}

.autonomy_projects{
	width:96%;
	background-color:ccc;
	margin:10px;
	padding:10px;
}

.autonomy_projects table{
	font-size:19px;
	margin:5px;
}

.foundation_projects{
	width:96%;
	background-color:ccc;
	margin:10px;
	padding:10px;
}

.foundation_projects table{
	font-size:19px;
	margin:5px;
}

.favorite_autonomy_projects{
	width:96%;
	background-color:ccc;
	margin:10px;
	padding:10px;
}

.favorite_autonomy_projects table{
	font-size:19px;
	margin:5px;
}

.favorite_foundation_projects{
	width:96%;
	background-color:ccc;
	margin:10px;
	padding:10px;
}

.favorite_foundation_projects table{
	font-size:19px;
	margin:5px;
}

.reccomented10_projects{
	width:96%;
	background-color:ccc;
	margin:10px;
	padding:10px;
}

.reccomented10_projects table{
	font-size:19px;
	margin:5px;
}

/*--マイページ　20160705--*/


.mypage_table{
	width:99%;
}

.mypage_table th{
	font-size:16px;
	background-color:#dadada;
}

.mypage_table td{
	font-size:15px;
}

.erase_button{
	display: inline-block;
	width: 50px;
	height: 23px;
        font-size:15px;
	text-align: center;
	text-decoration:none !important;
	outline: none;
	z-index: 2;
	background-color: #999;
	color: #ffffff !important;
	overflow: hidden;
	margin:0;
	border-style: none;
	border-radius: 3px;
	-webkit-border-radius: 3px;    /* Safari,Google Chrome用 */  
	-moz-border-radius: 3px;   /* Firefox用 */
}

.erase_button:hover {
	color: #fff !important;
	background-color: #666;
}

.officer{
	margin:0 0 0 35px;
}
