@charset "utf-8";
/*------------------------------------------------------------
	検索結果一覧
------------------------------------------------------------*/

.box_left {
width:309px;
height:260px;
float:left;
background-image: url("../img/result_back.png");
background-repeat: no-repeat;
margin:30px 0 0 15px;
position: relative;
}

.box_right {
width:309px;
height:280px;
float:left;
background-image: url("../img/result_back.png");
background-repeat: no-repeat;
margin:30px 0 0 15px;
}

.matter_title {
width:280px;
height:40px;
font-size: 14px;
font-family:"メイリオ", Meiryo;
margin:4px 0 0 12px;
}

.matter_ditail {
width:280px;
font-size: 12px;
font-family:"メイリオ", Meiryo;
margin:4px 10px 0 16px;
}

.ditail_btn {
width:309px;
margin:10px 0 0 105px;
position: absolute;
bottom: 30px;
}

.re_top_first {
float:right;
margin:30px 30px 20px 0;
}

#com_info {
width:985px;
margin:20px 0 8px 0;
height:100px;
}