@charset "utf-8";

p{
margin:0;
}

#service_table{
width:90%;
margin:30px auto;
font-size:14px;
}

#service_table th{
	background-color:#66FF66;
	padding:5px 15px;
}

#service_table td{
	/*background-color:#FFF;*/
	border-bottom:1px solid #999999;
	padding:5px 15px;
}

.reseller_text{
margin:40px 0 20px 0;
font-family: "メイリオ", Meiryo;
font-size: 16px;
}

.reseller_blog{
margin:0 0 20px 0;
font-family: "メイリオ", Meiryo;
}

.reseller_blog a{
font-size: 16px;
font-weight:bold;
color:#FF3333;
}
