<div id="gnavi">
	<ul>
		<li>
			<a href="index.php?action_static=lp" target="_blank"><img src="img/gnavi_navi.jpg" onmouseover="this.src='img/gnavi_navi_d.jpg'" onmouseout="this.src='img/gnavi_navi.jpg'" alt="利用方法" /></a>
		</li>
		<li>
			<a href="https://www.navit-j.com/service/joseikin-now/blog/" target="_blank"><img src="img/gnavi_blog.jpg" onmouseover="this.src='img/gnavi_blog_d.jpg'" onmouseout="this.src='img/gnavi_blog.jpg'" alt="助成金ブログ"/></a>
		</li>
		<li>
			<a href="https://www.facebook.com/joseikinnow" target="_blank"><img src="img/gnavi_fb.jpg" onmouseover="this.src='img/gnavi_fb_d.jpg'" onmouseout="this.src='img/gnavi_fb.jpg'" alt="助成FB"/></a>
		</li>
		<li>
{if $app.rank > 0}
			<a href="https://www.navit-j.com/service/joseikin-now/blog/?cat=18" target="_blank"><img src="img/gnavi_news.jpg" onmouseover="this.src='img/gnavi_news_d.jpg'" onmouseout="this.src='img/gnavi_news.jpg'" alt="助成金FB"/></a>
{else}
			<img src="img/gnavi_news.jpg" onmouseover="this.src='img/gnavi_news_d.jpg'" onmouseout="this.src='img/gnavi_news.jpg'" alt="助成金FB"/>
{/if}
		</li>
		<li>
			<a href="index.php?action_static=seminar_index" target="_blank"><img src="img/gnavi_sem.jpg" onmouseover="this.src='img/gnavi_sem_d.jpg'" onmouseout="this.src='img/gnavi_sem.jpg'" alt="セミナー"/></a>
		</li>
		<li>
			<a href="https://www.navit-j.com/service/joseikin-now/blog/?cat=15" target="_blank"><img src="img/gnavi_qa.jpg" onmouseover="this.src='img/gnavi_qa_d.jpg'" onmouseout="this.src='img/gnavi_qa.jpg'" alt="よくある質問・用語集"/></a>
		</li>
		<li>
			<a href="index.php?action_static=service_nj_deta_sale" target="_blank"><img src="img/gnavi_deta.jpg" onmouseover="this.src='img/gnavi_deta_d.jpg'" onmouseout="this.src='img/gnavi_deta.jpg'" alt="データ活用コンサルタント"/></a>
		</li>

<!--

		<li style="height:93px;">
					{if $app.name !=""}
			<a href="https://www.navit-j.com/service/joseikin-now/blog/?cat=18" target="_blank"><img src="img/main_mypage.jpg" onmouseover="this.src='img/main_mypage_d.jpg'" onmouseout="this.src='img/main_mypage.jpg'" /></a>
					{else}
			<a href="https://www.navit-j.com/service/joseikin-now/blog/?cat=18" target="_blank"><img src="img/main_mypage.jpg" onmouseover="this.src='img/main_mypage_d.jpg'" onmouseout="this.src='img/main_mypage.jpg'" /></a>
					{/if}
		</li>
-->
	</ul>
</div>
<div class="clear"></div>

